// Roboto Fonts import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Variables
$primary_font_family: "Roboto", sans-serif;
$background_white: white;
$text_white: white;
$primary-color: #ecc7d0;
$text-color: rgb(24, 18, 45);
$hover_color: #eb2f69;

// Mixins
@mixin link--base--style {
  display: block;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
}
