@import "definitions";

// MediaQueries
@media only screen and (min-width: 678px) {
  div.bar--top {
    .bar--inside {
      ul.nav--bar {
        li {
          a {
            img {
              height: 20px;
              width: auto;
            }
            span.info--text {
              display: block;
            }
          }
        }
      }
    }
  }

  div.input--bar {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    .input--cart {
      margin-top: 20px;
      cursor: pointer;
      order: 3;
    }
    .input--input {
      margin-left: 10%;
      flex-grow: 0.5;
    }
  }

  div.menu--navigation {
    padding-top: 0.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    a.link {
      display: block;
      text-transform: uppercase;
      color: $text-color;
      text-decoration: none;
      font-size: 100%;
      padding: 1rem 0.9rem;
      text-decoration: none;
      font-size: 85%;
      font-weight: 600;
      &:hover {
        color: $primary-color;
        transform: translateY(-3px);
        transition-duration: 0.4s;
      }
      &:active,
      &:visited {
        color: $primary-color;
      }
    }
  }

  div.icon--hamburger {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .left--bordered {
    border-left: 1px solid lightgray;
  }
  div.bar--top {
    justify-content: space-between;
    gap: 1rem;
    .bar--inside {
      width: unset;
      justify-content: flex-start;
      ul.nav--bar {
        li {
          width: unset;
          padding: 1rem;
          a {
            img {
              height: 18px;
              width: auto;
            }
            span.info--text {
              font-size: 90%;
            }
          }
        }
      }
    }
  }

  div.input--bar {
    margin-right: 3rem;
  }

  div.menu--navigation {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1250px) {
  div.input--bar,
  div.menu--navigation {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}
