@import "definitions";
@import "media-queries";

// General Settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background_white;
  font-family: $primary_font_family;
}

// Styles
.bar--top {
  z-index: 9;
  font-size: 80%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid lightgrey;
  .bar--inside {
    width: 50%;
    ul.nav--bar {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        width: 50%;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        transition-timing-function: ease-in-out;
        a {
          text-decoration: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          transition: 0.4s;
          img {
            height: 40px;
            width: auto;
            transition: 0.4s;
          }
          span.info--text {
            display: none;
            margin-left: 0.5rem;
            color: $text-color;
            transition: 0.4s;
          }
        }
        &:hover {
          background-color: $hover_color;
          a {
            transform: translateY(-3px);
          }
          img {
            filter: brightness(0) invert(1);
          }
          span.info--text {
            color: $text_white;
          }
        }
      }
    }
  }
}

.input--bar {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  .input--image {
    width: 155px;
    height: 84px;
    img {
      width: 100%;
      height: auto;
      &:hover {
        transform: translateY(-3px);
        transition-duration: 0.4s;
      }
    }
  }
  .input--cart {
    margin-top: 25px;
    width: auto;
    height: 41px;
    grid-column: 3 / span 1;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    img.cart {
      height: 41px;
    }
    .cart--number {
      font-size: 12px;
      line-height: 24px;
      background: $primary-color;
      color: $text-white;
      padding: 4px;
      width: 25px;
      height: 25px;
      vertical-align: bottom;
      margin-left: -22px;
      padding-left: 9px;
      padding-right: 9px;
      border-radius: 50%;
      text-align: center;
    }
    p {
      font-size: 80%;
      margin-left: 0.5rem;
    }
    &:hover {
      transform: translateY(-3px);
      transition-duration: 0.4s;
    }
  }
  .input--input {
    grid-column: 1 / span 3;
    form {
      border-bottom: 1px solid lightgrey;
      input {
        width: calc(100% - 20px);
        border: none;
        border-radius: 0;
        padding: 0.5rem;
        &:focus {
          outline: none;
        }
      }
      button {
        background-color: transparent;
        border: none;
        width: 16px;
        height: 16px;
        cursor: pointer;
        img.search {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.menu--navigation {
  a.link {
    display: none;
  }
  a.responsive {
    display: block;
    text-align: center;
  }
}
.icon--hamburger {
  display: block;
  position: absolute;
  right: 1rem;
  top: -1rem;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    transition-duration: 0.4s;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: $text-color;
  }
}

.active:nth-child(2) {
  opacity: 0;
}

.active:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.active:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
